@import url(http://fonts.googleapis.com/css?family=Raleway);

/* Variables */
$body-font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$anchor-font-color: #000;
$awesome-blue: #445d7f;
