%h1
  Welcome to Middleman!
  %br
  %br
  %p.doc
    This Middleman template includes HAML, SCSS, and is ready to deploy to Heroku
  %br
  %p.doc
    %a{href: "https://github.com/austinlchang/middleman-haml-heroku", target: "_blank"}
      https://github.com/austinlchang/middleman-haml-heroku
